In [153]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.graph_objs as go
import plotly

plotly.tools.set_credentials_file(username='zevida', api_key='t5jq9fhv4b')

In [154]:
# get the datafame of class size
class_size = pd.read_excel("classSize.xlsx")
del class_size["years"]
class_size

    100 +  50 - 99  40 - 49  30 - 39  20 - 29  10 - 19  2 - 9  Total
0     232      169       53       73      195      410    201   1333
1     270      161       59       99      214      435    175   1413
2     284      152       51      116      203      459    178   1443
3     298      139       75      120      228      444    176   1480
4     300      171       70      109      219      416    167   1452
5     313      163       48      110      218      417    145   1414
6     311      164       45      110      224      378    130   1362
7     298      181       40      101      227      405    119   1371
8     313      173       64       88      203      406    148   1395
9     326      171       48       97      222      399    133   1396
10    352      198       54      102      240      394    117   1457

In [155]:
# get the value of each class size 
over_one_hundred = class_size["100 +"]
fifty_ninetynine = class_size["50 - 99"]
fourty_fourtynine = class_size["40 - 49"]
thirty_thirtynine = class_size["30 - 39"]
twenty_twentynine = class_size["20 - 29"]
ten_ninteen = class_size["10 - 19"]
two_nine = class_size["2 - 9"]

In [156]:
# absolute value change for class size over 100
list_over_one_hundred = []
for each_over_one_hundred in over_one_hundred:
    list_over_one_hundred.append(each_over_one_hundred - over_one_hundred[0])
list_over_one_hundred

[0, 38, 52, 66, 68, 81, 79, 66, 81, 94, 120]

In [157]:
# absolute value change for class size between 50 - 99
list_fifty_ninetynine = []
for each_fifty_ninetynine in fifty_ninetynine:
    list_fifty_ninetynine.append(each_fifty_ninetynine - fifty_ninetynine[0])
list_fifty_ninetynine

[0, -8, -17, -30, 2, -6, -5, 12, 4, 2, 29]

In [158]:
# absolute value change for class size between 40 - 49
list_fourty_fourtynine = []
for each_fourty_fourtynine in fourty_fourtynine:
    list_fourty_fourtynine.append(each_fourty_fourtynine - fourty_fourtynine[0])
list_fourty_fourtynine

[0, 6, -2, 22, 17, -5, -8, -13, 11, -5, 1]

In [159]:
# absolute value change for class size between 30 - 39
list_thirty_thirtynine = []
for each_thirty_thirtynine in thirty_thirtynine:
    list_thirty_thirtynine.append(each_thirty_thirtynine - thirty_thirtynine[0])
list_thirty_thirtynine

[0, 26, 43, 47, 36, 37, 37, 28, 15, 24, 29]

In [160]:
# absolute value change for class size between 20 - 29
list_twenty_twentynine = []
for each_twenty_twentynine in twenty_twentynine:
    list_twenty_twentynine.append(each_twenty_twentynine - twenty_twentynine[0])
list_twenty_twentynine

[0, 19, 8, 33, 24, 23, 29, 32, 8, 27, 45]

In [161]:
# absolute value change for class size between 10 - 19
list_ten_ninteen = []
for each_ten_ninteen in ten_ninteen:
    list_ten_ninteen.append(each_ten_ninteen - ten_ninteen[0])
list_ten_ninteen

[0, 25, 49, 34, 6, 7, -32, -5, -4, -11, -16]

In [162]:
# absolute value change for class size between 2 - 9
list_two_nine = []
for each_two_nine in two_nine:
    list_two_nine.append(each_two_nine - two_nine[0])
list_two_nine

[0, -26, -23, -25, -34, -56, -71, -82, -53, -68, -84]

In [163]:
trace0 = go.Scatter(
    x = ['2005 - 2006', '2006 - 2007', '2007 - 2008', '2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014', '2014 - 2015', '2015 - 2016'],
    y = list_over_one_hundred,
    mode = 'lines',
    name = '100+',
    line = dict(
        color = ('#8cba19'),
        width = 3)
)

In [164]:
trace1 = go.Scatter(
    x = ['2005 - 2006', '2006 - 2007', '2007 - 2008', '2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014', '2014 - 2015', '2015 - 2016'],
    y = list_fifty_ninetynine,
    mode = 'lines',
    name = '50-99',
    line = dict(
        color = ('#ff9c00'),
        width = 3)
)

In [165]:
trace2 = go.Scatter(
    x = ['2005 - 2006', '2006 - 2007', '2007 - 2008', '2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014', '2014 - 2015', '2015 - 2016'],
    y = list_fourty_fourtynine,
    mode = 'lines',
    name = '40-49',
    line = dict(
        color = ('#ffb846'),
        width = 3)
)

In [166]:
trace3 = go.Scatter(
    x = ['2005 - 2006', '2006 - 2007', '2007 - 2008', '2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014', '2014 - 2015', '2015 - 2016'],
    y = list_thirty_thirtynine,
    mode = 'lines',
    name = '30-39',
    line = dict(
        color = ('#ffd35e'),
        width = 3)
)

In [167]:
trace4 = go.Scatter(
    x = ['2005 - 2006', '2006 - 2007', '2007 - 2008', '2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014', '2014 - 2015', '2015 - 2016'],
    y = list_twenty_twentynine,
    mode = 'lines',
    name = '20-29',
    line = dict(
        color = ('#fef3a1'),
        width = 3)
)

In [172]:
trace5 = go.Scatter(
    x = ['2005 - 2006', '2006 - 2007', '2007 - 2008', '2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014', '2014 - 2015', '2015 - 2016'],
    y = list_ten_ninteen,
    mode = 'lines',
    name = '10-19',
    line = dict(
        color = ('#f86d72'),
        width = 3)
)

In [169]:
trace6 = go.Scatter(
    x = ['2005 - 2006', '2006 - 2007', '2007 - 2008', '2008 - 2009', '2009 - 2010', '2010 - 2011', '2011 - 2012', '2012 - 2013', '2013 - 2014', '2014 - 2015', '2015 - 2016'],
    y = list_two_nine,
    mode = 'lines',
    name = '2-9',
    line = dict(
        color = ('#e94345'),
        width = 3)
)

In [174]:
data = [trace0, trace1, trace2, trace3, trace4, trace5, trace6]

# Edit the layout
layout = dict(title = 'Absolute Change of the Class Size over Past Ten Years',
              yaxis = dict(title = 'Change the Number of Classes'),
              )

# Plot and embed in ipython notebook!
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Absolute Change of the Class Size')

In [171]:
# fig, ax = plt.subplots()

# # ax.stackplot(x, over_one_hundred, over_fifty, over_fourty, over_thirty, over_twenty, over_ten, over_two)
# plt.title('Change of class size from 2005 to 2015')
# plt.plot([],[],color='#F99157', label='100+', linewidth=5)
# plt.plot([],[],color='#FAC863', label='50 - 99', linewidth=5)
# plt.plot([],[],color='#99C794', label='40 - 49', linewidth=5)
# plt.plot([],[],color='#5FB3B3', label='30 - 39', linewidth=5)
# plt.plot([],[],color='#6699CC', label='20 - 29', linewidth=5)
# plt.plot([],[],color='#C594C5', label='10 - 19', linewidth=5)
# plt.plot([],[],color='#AB7967', label='2 - 9', linewidth=5)

# ax.fill_between(x, 0, y_stack[0,:], facecolor="#F99157", alpha=.7)
# ax.fill_between(x, y_stack[0,:], y_stack[1,:], facecolor="#FAC863", alpha=.7)
# ax.fill_between(x, y_stack[1,:], y_stack[2,:], facecolor="#99C794", alpha=.7)
# ax.fill_between(x, y_stack[2,:], y_stack[3,:], facecolor="#5FB3B3")
# ax.fill_between(x, y_stack[3,:], y_stack[4,:], facecolor="#6699CC")
# ax.fill_between(x, y_stack[4,:], y_stack[5,:], facecolor="#C594C5")
# ax.fill_between(x, y_stack[5,:], y_stack[6,:], facecolor="#AB7967")


# plt.legend()
# plt.show()